---
# This workflow will build a Java project with Maven
name: build

on:
  push:
    branches: [main, "[0-9]+.[0-9]+-SNAPSHOT"]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      MAVEN_OPTS: -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn
    steps:
      - name: Cancel previous Action
        uses: styfle/cancel-workflow-action@0.9.1
        continue-on-error: true  # for act
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: s4u/maven-settings-action@v2
        with:
          servers: '[{"id": "ossrh", "username": "mihxil", "password": "${{secrets.OSSRH_PASSWORD}}"}]'
      - uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
          passphrase: ${{ secrets.GPG_SECRET_KEY_PASSPHRASE }}
      - name: Fix bom
        run: |
          sudo apt-get install libxml2-utils
          .github/fix-bom.sh -B
      - name: Commit changes in bom if necessary
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: bom changes
      - name: Build and deploy BOM with Maven
        run: (cd i18n-regions-bom ; mvn -B -Pdeploy clean deploy)
      - name: Build and deploy with Maven
        run: |
          mvn -B test
          mvn -B -DskipTests=true -P'deploy,!blackboxtesting' deploy
      - uses: codecov/codecov-action@v2
        with:
          files: report-aggregation/target/site/jacoco-aggregate/jacoco.xml
          verbose: true
      - name: Publish Test Report
        uses: scacap/action-surefire-report@v1
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
